<main class="container">
    <h3 class="mt-3">Dados da Compra</h3>

    <div class="border border-5 mt-3 p-3 border-primary col-lg">
        <div class="row">
        <div class="col-md-6 col-sm-6"><b>Código da Compra</b></div>
        <div class="col-md-6 col-sm-6">{{compra.id}}</div>
        </div>
        <div class="row">
        <div class="col-md-6 col-sm-6"><b>Código do fornecedor</b></div>
        <div class="col-md-6 col-sm-6">{{compra.fornecedorId}}</div>
        </div>

        <div class="row">
        <div class="col-md-6 col-sm-6"><b>Quantidade Total</b></div>
        <div class="col-md-6 col-sm-6">{{compra.quantidadeTotal}}</div>
        </div>

        <div class="row">
        <div class="col-md-6 col-sm-6"><b>Valor Total</b></div>
        <div class="col-md-6 col-sm-6">{{compra.valorTotal}}</div>
        </div>

        <div class="row">
        <div class="col-md-6 col-sm-6"><b>Data da Compra</b></div>
        <div class="col-md-6 col-sm-6">{{compra.dataCompra}}</div>
        </div>

        <div class="row">
        <div class="col-md-6 col-sm-6"><b>Quantidade</b></div>
        <div class="col-md-6 col-sm-6">{{compra.quantidade}}</div>
        </div>

        <table class="table table-bordered text-center text-capitalize">
            <tr class="bg-primary table-active text-uppercase text-white">
                <th scope="col">Código do Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Unitário</th>
            </tr>
            {{#if lista_ItemCompras}}
                {{#each lista_ItemCompras}}
                <tr>
                    <td>{{this.produtoId}}</td>
                    <td>{{this.quantidade}}</td>
                    <td>{{this.valorUnitario}}</td>
                </tr>
                {{/each}}
            {{else}}
            <tr>
                <td colspan="45489">Não há produtos</td>
            </tr>
            {{/if}}   
        </table>
    </div>
    
    <a href="/menu/compras">
        <button type="button" class="btn btn-primary mt-3">Voltar</button>
    </a>

</main>