<main class="container mt-5">
  <h1 class="mt-3">Alterar Fornecedor</h1>
  <form action="/fornecedores/alterar/{{fornecedor.CNPJ}}" method="post" class="col-sm-10 needs-validation mt-5" novalidate>
    <div class="form-group">
      <label for="NOME">Nome</label>
      <input type="text" class="form-control" id="NOME" name="NOME" placeholder="Nome" value="{{fornecedor.NOME}}" required>
      <div class="invalid-feedback">Por favor, preencha o nome.</div>
    </div>

    <div class="form-group">
      <label for="RAZAO_SOCIAL">Razão Social</label>
      <input type="text" class="form-control" id="RAZAO_SOCIAL" name="RAZAO_SOCIAL" placeholder="Razão Social" value="{{fornecedor.RAZAO_SOCIAL}}" required>
      <div class="invalid-feedback">Por favor, preencha a razão social.</div>
    </div>

    <!-- Adicione a classe is-invalid para mostrar a mensagem de erro -->
    <div class="form-group">
      <label for="CNPJ">CNPJ</label>
      <input type="text" class="form-control {{#if cnpjInvalido}}is-invalid{{/if}}" id="CNPJ" name="CNPJ" placeholder="CNPJ" value="{{fornecedor.CNPJ}}" required>
      <div class="invalid-feedback">Por favor, preencha o CNPJ.</div>
    </div>

    <div class="form-group" id="div_IE_STATUS">
      <label for="IE_STATUS">Tem Inscrição Estadual?</label>
      <select class="form-control" id="IE_STATUS" name="IE_STATUS" required>
        <option value="true" {{#if fornecedor.IE_STATUS}} selected {{/if}}>Sim</option>
        <option value="false" {{#unless fornecedor.IE_STATUS}} selected {{/unless}}>Não</option>
      </select>
      <div class="invalid-feedback">Por favor, selecione se tem inscrição estadual.</div>
    </div>

    <!-- Adicione a classe is-invalid para mostrar a mensagem de erro -->
    {{#if fornecedor.IE_STATUS}}
      <div class="form-group">
        <label for="IE_NUMERO">Número da Inscrição Estadual</label>
        <input type="text" class="form-control {{#if ieNumeroInvalido}}is-invalid{{/if}}" id="IE_NUMERO" name="IE_NUMERO" placeholder="Número da Inscrição Estadual" value="{{fornecedor.IE_NUMERO}}" required>
        <div class="invalid-feedback">Por favor, preencha o número da inscrição estadual.</div>
      </div>
    {{/if}}

    <div class="form-group">
      <label for="CONTR_ICMS">Contribuinte do ICMS?</label>
      <select class="form-control" id="CONTR_ICMS" name="CONTR_ICMS" required>
        <option value="true" {{#if fornecedor.CONTR_ICMS}} selected {{/if}}>Sim</option>
        <option value="false" {{#unless fornecedor.CONTR_ICMS}} selected {{/unless}}>Não</option>
      </select>
      <div class="invalid-feedback">Por favor, selecione se é contribuinte do ICMS.</div>
    </div>

    <div class="form-group">
      <label for="EMAIL">Email</label>
      <input type="email" class="form-control" id="EMAIL" name="EMAIL" placeholder="Email" value="{{fornecedor.EMAIL}}" required>
      <div class="invalid-feedback">Por favor, preencha um email válido.</div>
    </div>

    <div class="form-group">
      <label for="TELEFONE">Telefone</label>
      <input type="tel" class="form-control" id="TELEFONE" name="TELEFONE" placeholder="Telefone" value="{{fornecedor.TELEFONE}}" required>
      <div class="invalid-feedback">Por favor, preencha um número de telefone.</div>
    </div>

    <div class="form-group">
      <label for="CEP">CEP</label>
      <input type="text" class="form-control" id="CEP" name="CEP" placeholder="CEP" value="{{fornecedor.CEP}}" required>
      <div class="invalid-feedback">Por favor, preencha um CEP.</div>
    </div>

    <div class="form-group">
      <label for="ENDERECO">Endereço</label>
      <input type="text" class="form-control" id="END23423342343242ERECO" name="ENDERECO" placeholder="Endereço" value="{{fornecedor.ENDERECO}}" required>
      <div class="invalid-feedback">Por favor, preencha um endereço.</div>
    </div>

    <div class="form-group">
      <label for="ENDEREDO_NUMERO">Número do Endereço</label>
      <input type="text" class="form-control" id="ENDEREDO_NUMERO" name="ENDEREDO_NUMERO" placeholder="Número do Endereço" value="{{fornecedor.ENDEREDO_NUMERO}}" required>
      <div class="invalid-feedback">Por favor, preencha um número do endereço.</div>
    </div>

    <div class="form-group">
      <label for="BAIRRO">Bairro</label>
      <input type="text" class="form-control" id="BAIRRO" name="BAIRRO" placeholder="Bairro" value="{{fornecedor.BAIRRO}}" required>
      <div class="invalid-feedback">Por favor, preencha um bairro.</div>
    </div>

    <!-- Adicione a classe is-invalid para mostrar a mensagem de erro -->
    <input type="submit" class="btn btn-primary" value="Enviar" />
  </form>
</main>

<script src="/js/formAlterar.js"></script>
