
<main class="container">

	<h1 class="mt-3">Listagem de Fornecedores</h1>
	<a class="btn btn-primary mt-5" href ="/fornecedores/cadastrar"
		<button type="button" class="btn btn-primary">+ Adicionar Fornecedor</button>
	</a>
    
  <div class="table-responsive mt-5">
    <table class="table table-bordered text-center text-capitalize">
      <tr class="bg-primary table-active text-uppercase text-white">
        <th scope="col">ID</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Nome</th>
        <th scope="col">Razão Social</th>
        <th scope="col">Tem Incrição Estadual?</th>
        <th scope="col">Número da Incrição Estadual</th>
        <th scope="col">Contribuinte do ICMS</th>
        <th scope="col">Alterar</th>
		    <th scope="col">Detalhe</th>
        <th scope="col">Excluir</th>
    
      </tr>
      {{#if lista_fornecedor}}
        {{#each lista_fornecedor}}
          <tr>
            <td>{{this.ID}}</td>
            <td>{{converterParaCNPJ this.CNPJ}}</td>
            <td>{{this.NOME}}</td>
            <td>{{this.RAZAO_SOCIAL}}</td>

            {{#if this.IE_STATUS}}
              <td><i class="btn btn-link desabilitarLink bi bi-check-square" style="font-size:30px;"></i></td>
            {{else}}
              <td><i class="btn btn-link desabilitarLink bi bi-x-square" style="font-size:30px;"></i></td>
            {{/if}}

            {{#if this.IE_NUMERO}}
              <td>{{this.IE_NUMERO}}</td>
            {{else}}
              <td>Não tem</td>

            {{/if}}
            {{#if this.CONTR_ICMS}}
              <td><i class="btn btn-link desabilitarLink bi bi-check-square" style="font-size:30px;"></i></i></td>
            {{else}}
              <td><i class="btn btn-link desabilitarLink bi bi-x-square" style="font-size:30px;"></i></td>
            {{/if}}
            <td>
              <a href='fornecedores/alterar/{{this.CNPJ}}'>
                <i class="btn btn-link bi bi-pencil-square"style="font-size:30px"></i>
			        </a>
            </td>
            <td>
              <a href='/fornecedores/{{this.CNPJ}}'>
                <i class="btn btn-link bi bi-clipboard-fill" style="font-size:30px"></i>
              </a>  
            </td>       
            <td>
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal{{this.CNPJ}}">
                <i class="bi bi-trash3-fill"style="font-size:30px"></i>
              </button>

              <!-- Modal -->
              <div class="modal" id="exampleModal{{this.CNPJ}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title textoNormal">Exclusão de fornecedor</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body m-1">
                    <p class="textoNormal">Tem certeza que deseja excluir este fornecedor?</p>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <a href="/fornecedores/remover/{{this.CNPJ}}">
                    <button type="button" class="btn btn-primary">Confirmar</button>
                  </a>
                  </div>
                </div>
                </div>
              </div>       
            </td>
          </tr>
        {{/each}}
      {{else}}
      <tr>
        <td colspan="10">Não há fornecedores</td>
      </tr>
      {{/if}}
        
    </table>
  </div>

 
</main>

