<main class="container">
  <h1 class="mt-3">Dados do Fornecedor
    <img src="https://static.thenounproject.com/png/1510484-200.png" class="img-fluid" style="width: 5%">
  </h1>



  <div class="border border-5 mt-3 p-3 border-primary col-lg">
    
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>ID</b></div>
      <div class="col-md-6 col-sm-6">{{fornecedor.ID}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>Nome</b></div>
      <div class="col-md-6 col-sm-6">{{fornecedor.NOME}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>Razão Social</b></div>
      <div class="col-md-6 col-sm-6">{{fornecedor.RAZAO_SOCIAL}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>CNPJ</b></div>
      <div class="col-md-6 col-sm-6">{{fornecedor.CNPJ}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>Tem Inscrição Estadual?</b></div>
      <div class="col-md-6 col-sm-6">{{#if fornecedor.IE_STATUS}}Sim{{else}}Não{{/if}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>Número da Inscrição Estadual</b></div>
      <div class="col-md-6 col-sm-6">{{#if fornecedor.IE_NUMERO}}{{fornecedor.IE_NUMERO}}{{else}}Não tem{{/if}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>Contribuinte do ICMS</b></div>
      <div class="col-md-6 col-sm-6">{{#if fornecedor.CONTR_ICMS}}Sim{{else}}Não{{/if}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>Email</b></div>
      <div class="col-md-6 col-sm-6">{{fornecedor.EMAIL}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>Telefone</b></div>
      <div class="col-md-6 col-sm-6">{{fornecedor.TELEFONE}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>CEP</b></div>
      <div class="col-md-6 col-sm-6">{{fornecedor.CEP}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>Endereço</b></div>
      <div class="col-md-6 col-sm-6">{{fornecedor.ENDERECO}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>Número</b></div>
      <div class="col-md-6 col-sm-6">{{fornecedor.ENDEREDO_NUMERO}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>Bairro</b></div>
      <div class="col-md-6 col-sm-6">{{fornecedor.BAIRRO}}</div>
  </div>


  
  
</main>