<main class="container">
    <h3 class="mt-3">Dados do Produto</h3>

    <div class="border border-5 mt-3 p-3 border-primary col-lg">
    
        <div class="row">
        <div class="col-md-6 col-sm-6"><b>ID</b></div>
        <div class="col-md-6 col-sm-6">{{produto.id}}</div>
        </div>

        <div class="row">
        <div class="col-md-6 col-sm-6"><b>Nome</b></div>
        <div class="col-md-6 col-sm-6">{{produto.nome}}</div>
        </div>

        <div class="row">
        <div class="col-md-6 col-sm-6"><b>Descrição</b></div>
        <div class="col-md-6 col-sm-6">{{produto.descricao}}</div>
        </div>

        <div class="row">
        <div class="col-md-6 col-sm-6"><b>Unidade</b></div>
        <div class="col-md-6 col-sm-6">{{produto.unidade}}</div>
        </div>

        <div class="row">
        <div class="col-md-6 col-sm-6"><b>Quantidade</b></div>
        <div class="col-md-6 col-sm-6">{{produto.quantidade}}</div>
        </div>

        <div class="row">
        <div class="col-md-6 col-sm-6"><b>Valor</b></div>
        <div class="col-md-6 col-sm-6">{{produto.valor}}</div>
        </div>
    </div>
    
    <a href="/menu/produtos">
        <button type="button" class="btn btn-primary mt-3">Voltar</button>
    </a>

</main>